.onoffswitch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 12px;
    background-color: rgb(103, 205, 220); color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 12px;
    background-color: rgba(223, 231, 184, 1); color: #8c8c8c;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 24px; margin: 3px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 46px;
    border: 2px solid #FFFFFF; border-radius: 50px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/*  */
#doneswitch {
    padding: 20px;
}

.doneswitch {
    position: relative; width: 140px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.doneswitch-checkbox {
    display: none;
}
.doneswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 20px;
}
.doneswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.doneswitch-inner:before, .doneswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.doneswitch-inner:before {
    content: "DONE";
    padding-left: 10px;
    background-color: rgba(64, 201, 51, 0.6); color: #FFFFFF;
}
.doneswitch-inner:after {
    content: "TO DO";
    padding-right: 10px;
    background-color: rgba(223, 231, 184, 1); color: #8c8c8c;
    text-align: right;
}
.doneswitch-switch {
    display: block; width: 24px; margin: 3px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 110px;
    border: 2px solid #FFFFFF; border-radius: 50px;
    transition: all 0.3s ease-in 0s;
}
.doneswitch-checkbox:checked + .doneswitch-label .doneswitch-inner {
    margin-left: 0;
}
.doneswitch-checkbox:checked + .doneswitch-label .doneswitch-switch {
    right: 0px;
}

/**/



table {
    margin: 0;
    font-size: 14px; font-family: Trebuchet, Arial, sans-serif;
    color: #333333;
    border-collapse: collapse;
    width: 100%;
    font-family: "proxima-nova","open-sans","Calibri",Helvetica,sans-serif;
}

form {
    padding: 0px 7px 0px 13px;
    font-family: "proxima-nova","open-sans","Calibri",Helvetica,sans-serif;
    color: rgba(71, 80, 21, 0.80);
    font-weight: 100;
    font-size: 16px;
}

label {
    font-family: "proxima-nova","open-sans","Calibri",Helvetica,sans-serif;
    font-weight: 100;
    font-size: 17px;
}

tr {
    margin: 4px;
    padding: 0;
}

tr:nth-child(odd) {
    background-color: rgba(223, 231, 184, 0.4);
}


td {
    padding: 8px 4px 8px 16px;
    border-bottom: 1px solid rgba(223, 231, 184, 0.9);
    border-top: 1px solid rgba(223, 231, 184, 0.9);
}

td:nth-child(odd) {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.2em;

    white-space: pre-wrap;
}

#credits td:nth-child(odd) {
    vertical-align: top;
}

#pref td:nth-child(even) {
    width: 62%;
}



#add-task-button {

    box-shadow: none;
    display: inline-block;
    border: solid;
    border-radius: 8px;
    border-width: 3px;
    font-size: 14px; font-family: "proxima-nova","open-sans","Calibri",Helvetica,sans-serif;
}

#add-task-footer {
    z-index: 99;
}

#form_messages {
    min-height: 35px;
    color: white;
    font-weight: 800;
    font-size: 18px;
    clear: both;
    z-index: 100;
}

.form_msg {
    margin: 6px;
    padding: 6px;
    display: none;
    border-radius: 3px;
}

#form_success {
     background-color: #40dc62;
 }

#form_fail {
    background-color: rgba(220, 52, 36, 0.62);
}

.error {
    background-color: rgba(220, 52, 36, 0.62);
}

input[type=radio]{
    width: 0;
    height: 0;
    margin  : 0;
    padding : 0;
    opacity : 0;
}

.radio-inline {
    padding: 4px;
    border-radius: 10px;
    color: #0f7394;
}
.radio-inline > input:not(:checked) + div {
    opacity: 0.25;
}

.radio-inline > input:not(:checked) + span {
    opacity: 0.25;
}

.radio-inline:hover {
    background-color: rgba(208, 221, 43, 0.33);
}


.radio-inline > input:checked + span {
    font-weight: 600;
}

label +  .difficulty > .trapez {
    margin-top: 7px;
    border-bottom-width: 15px;
}

label +  .difficulty > .trapez_1 {
    width: 25px;
}

label + .difficulty > .trapez_2 {
    width: 50px;
}

label +  .difficulty > .trapez_3 {
    width: 75px;
}

label + .difficulty > .trapez_4 {
    width: 100px;
}

label + .difficulty > .trapez_5 {
    width: 125px;
}

.radio-inline .satisfaction > div {
    width: 41px;
    height: 50px;
}

#f_p_satisfaction_group { display: flex; justify-content: space-between; }
#e_difficulty { display: flex; justify-content: space-between; }
#e_p_satisfaction_group { display: flex; justify-content: space-between; }
#e_a_satisfaction_group { display: flex; justify-content: space-between; }



.edit_label {
    display: block;
}

.compare {
    display: inline-block;
}

.e_done {
    background: rgba(255, 255, 255, 0.50);
    border-radius: 12px;
    padding-bottom: 10px;
}

#decision_helper {
    display: inline-block;
    width: 100px;
    border: none;
    background-color: transparent;
    color: rgba(14, 100, 145, 0.9);
    font-weight: bold;
}