body {
    background: rgba(208, 221, 43, 0.2);
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav {
    background: rgb(103, 205, 220);
    border-bottom: solid 4px rgba(14, 100, 145, 0.5);
    height: 40px;
    padding-top: 20px;

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}


nav ul li {
    float: left;
    display: block;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    height: 100%;
}

.active {
    color: white;
    border-bottom: solid 4px white;
    height: 100%;
}

nav ul li:hover:not(.active) {
    color: rgb(232, 245, 49);
    border-bottom: solid 4px rgb(208, 221, 43);
    height: 100%;
}

li a:hover:not(.active) {
    background-color: #111;
}

header {
    color: #333333;
    padding: 10px;
}
